<head>
  {{>awesome/head/awesome-head__meta}}

  <title>{{{awesome.title}}}</title>
  <!-- Designed by https://github.com/kaytcat -->
  <!-- Robot header image designed by Freepik.com -->
  {{>awesome-styles}}
</head>
