<table style="margin: 0 auto; {{style}}" cellpadding="0" cellspacing="0" width="100%" bgcolor="{{bgcolor}}">
  <tr>
    <td class="headline">
    </td>
  </tr>
  <tr>
    <td>
    </td>
  </tr>
  <tr>
    <td>

    </td>
  </tr>
  <tr>
    <td>

    </td>
  </tr>
</table>
