<!-- ENCABEZADO PARA TODOS LOS MAILS -->
<head>
  {{>mt/head/meta}}
  {{>mt/head__meta}}
  <title>{{{awesome.title}}}</title>
  <style type="text/css">

      table, tr, td, span, a { -webkit-text-size-adjust:none; }

         @media only screen and (max-width: 480px)
            {
               td[class="logo"]{
               text-align: center !important;
               }
            }
   </style>
   {{>mt/head__styles}}
</head>
